{{> head }}
    {{> navbar }}
    <div class="col-8">
        <h1>About</h1>
    </div>
    <div class="col-3">
        <img src="assets/img/300.jpg" class="img-thumbnail" />

    </div>
{{> footer }}